local_flows.json
[{"id":"667d43c5.9982bc","type":"function","z":"320779c5.cdf886","name":"Convert Button Press To Tweet","func":"var now = (new Date()).toISOString();\n\nif (msg.payload.left === true && msg.payload.right === true) {\n    msg.payload = \"Both buttons pressed @ \" + now;\n    return msg;    \n} else if (msg.payload.left === true) {\n    msg.payload = \"Left button pressed @ \" + now;\n    return msg;    \n} else if (msg.payload.right === true) {\n    msg.payload = \"Right button pressed @ \" + now;\n    return msg;    \n}\n\n","outputs":1,"noerr":0,"x":429.5,"y":248,"wires":[["e7f6e7ff.180918"]]},{"id":"95ee2f4.f6a11d","type":"function","z":"320779c5.cdf886","name":"Store SensorTag Data","func":"var sensortag = flow.get(\"sensortag\") || {};\nfor(var i in msg.payload) {\n    sensortag[i] = msg.payload[i];\n}\n\nflow.set(\"sensortag\", sensortag);\nreturn msg;","outputs":1,"noerr":0,"x":140,"y":420,"wires":[[]]},{"id":"f9cd44d3.0632b8","type":"http in","z":"320779c5.cdf886","name":"","url":"/sensor-tag-service","method":"get","swaggerDoc":"","x":150,"y":500,"wires":[["58457329.a7ba8c"]]},{"id":"58457329.a7ba8c","type":"function","z":"320779c5.cdf886","name":"Retrieve SensorTag Data","func":"msg.payload = flow.get(\"sensortag\");\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":500,"wires":[["8d2871f2.72d79"]]},{"id":"ef7421af.108be","type":"function","z":"320779c5.cdf886","name":"Extract Colour From Reply","func":"var colours = [\"red\", \"green\", \"blue\", \"cyan\",\n    \"magenta\", \"yellow\", \"orange\", \"pink\", \n    \"purple\", \"white\", \"oldlace\", \"amber\", \n    \"black\" ]\n\nfor(var i = 0; i < colours.length; i++) {\n    if (msg.payload.indexOf(colours[i]) > 0) {\n        msg.payload = colours[i];\n        return msg;        \n    }\n}\n","outputs":1,"noerr":0,"x":420,"y":140,"wires":[["506e8558.af917c"]]},{"id":"66d6a82b.992958","type":"function","z":"320779c5.cdf886","name":"Is Light Sensor?","func":"if (msg.payload.hasOwnProperty('lux')) {\n    msg.payload = msg.payload.lux;\n    return msg;\n}","outputs":1,"noerr":0,"x":280,"y":340,"wires":[["712d6409.8ed29c"]]},{"id":"a4392436.5bc6d8","type":"function","z":"320779c5.cdf886","name":"Convert Lux To RGB","func":"var lux = msg.payload;\nmsg.payload = [lux, lux, lux].join(',');\nreturn msg;\n","outputs":1,"noerr":0,"x":660,"y":340,"wires":[["506e8558.af917c"]]},{"id":"712d6409.8ed29c","type":"range","z":"320779c5.cdf886","minin":"0","maxin":"100","minout":"0","maxout":"255","action":"clamp","round":true,"name":"","x":450,"y":340,"wires":[["a4392436.5bc6d8"]]},{"id":"eae8b6ab.151748","type":"function","z":"320779c5.cdf886","name":"Choose a random colour","func":"if (msg.payload.left|| msg.payload.right) {\n    var count = context.get(\"count\") || 0;\n    var colours = [\"red\", \"green\", \"blue\", \"cyan\",\n        \"magenta\", \"yellow\", \"orange\", \"pink\", \n        \"purple\", \"white\", \"oldlace\", \"amber\", \n        \"black\" ]\n\n    msg.payload = colours[count % colours.length]\n    context.set(\"count\", count + 1);\n    return msg;\n}","outputs":1,"noerr":0,"x":410,"y":200,"wires":[["506e8558.af917c"]]},{"id":"697b5503.9684ac","type":"sensorTag","z":"320779c5.cdf886","name":"sensorTag","topic":"sensorTag","temperature":true,"humidity":true,"pressure":true,"magnetometer":true,"accelerometer":true,"gyroscope":true,"keys":true,"luxometer":false,"x":80,"y":260,"wires":[["eae8b6ab.151748","66d6a82b.992958","95ee2f4.f6a11d","667d43c5.9982bc"]]},{"id":"cafac446.350538","type":"twitter in","z":"320779c5.cdf886","twitter":"","tags":"@devweek_iot","user":"false","name":"","topic":"tweets","x":90,"y":120,"wires":[["ef7421af.108be"]]},{"id":"8195d475.7e6a28","type":"twitter out","z":"320779c5.cdf886","twitter":"","name":"Tweet","x":1107.5,"y":150,"wires":[]},{"id":"8d2871f2.72d79","type":"http response","z":"320779c5.cdf886","name":"","x":790,"y":500,"wires":[]},{"id":"b846a3d1.47b96","type":"http in","z":"320779c5.cdf886","name":"","url":"/blinkm","method":"get","swaggerDoc":"","x":110,"y":600,"wires":[["e7b906a1.1846f8"]]},{"id":"e1b775dc.1e4888","type":"debug","z":"320779c5.cdf886","name":"","active":true,"console":"false","complete":"req.query","x":760,"y":600,"wires":[]},{"id":"e7b906a1.1846f8","type":"function","z":"320779c5.cdf886","name":"Set Payload To Query Param","func":"msg.payload = msg.req.query.colour;\nreturn msg;","outputs":1,"noerr":0,"x":480,"y":600,"wires":[["e1b775dc.1e4888","506e8558.af917c"]]},{"id":"e7f6e7ff.180918","type":"twitter out","z":"320779c5.cdf886","twitter":"","name":"Tweet","x":870,"y":180,"wires":[]},{"id":"506e8558.af917c","type":"blink1","z":"320779c5.cdf886","serial":"","fade":"500","name":"","x":870,"y":260,"wires":[]}]
