mqtt_flows.json
[{"id":"1a22dc4b.e5dd24","type":"ibmiot","z":"1710097a.e8eff7","name":"iotf"},{"id":"6e3051c5.91cfb","type":"ibmiot in","z":"1710097a.e8eff7","authentication":"boundService","apiKey":"1a22dc4b.e5dd24","inputType":"evt","deviceId":"sensortag","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":true,"allEvents":true,"allCommands":"","allFormats":"","x":215.5,"y":122,"wires":[["52d1c35d.ad2e3c","403ba8d6.bfc458"]]},{"id":"52d1c35d.ad2e3c","type":"debug","z":"1710097a.e8eff7","name":"","active":true,"console":"false","complete":"false","x":559.5,"y":126,"wires":[]},{"id":"1db43615.e24bca","type":"ibmiot out","z":"1710097a.e8eff7","authentication":"boundService","apiKey":"1a22dc4b.e5dd24","outputType":"cmd","deviceId":"blink1","deviceType":"blink1","eventCommandType":"blink","format":"string","data":"white","name":"IBM IoT","service":"registered","x":626.5,"y":324,"wires":[]},{"id":"881ac3b8.77e54","type":"inject","z":"1710097a.e8eff7","name":"","topic":"","payload":"green","payloadType":"str","repeat":"","crontab":"","once":false,"x":239,"y":336,"wires":[["1db43615.e24bca"]]},{"id":"cecd0259.3133","type":"inject","z":"1710097a.e8eff7","name":"","topic":"","payload":"red","payloadType":"str","repeat":"","crontab":"","once":false,"x":252.5,"y":397,"wires":[["1db43615.e24bca"]]},{"id":"6c50c158.93af4","type":"inject","z":"1710097a.e8eff7","name":"","topic":"","payload":"blue","payloadType":"str","repeat":"","crontab":"","once":false,"x":236.5,"y":454,"wires":[["1db43615.e24bca"]]},{"id":"403ba8d6.bfc458","type":"function","z":"1710097a.e8eff7","name":"Button Press To Colour","func":"if (msg.payload.left) {\n    return {payload: \"red\"};\n}\nif (msg.payload.right) {\n    return {payload: \"blue\"};\n}","outputs":1,"noerr":0,"x":427,"y":227,"wires":[["1db43615.e24bca"]]}]
